@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-navbar {
    background-color: #111d5e; 
    color: rgb(244, 244, 244);
    font-family: "Space Mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    position: static;
  }
    




  