@tailwind base;
@tailwind components;
@tailwind utilities;
/* navbarStyles.css */
.custom-navbar {
    margin-top: 20px;
    background-color: #111d5e; /* Cor desejada */
    display: flex;
    color: rgb(244, 244, 244);
    font-family: "Space Mono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  }
  .custom-navmenu{
    background-color:#111d5e;
  }

  